body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #f1f1f1;
	color: #4a4a4a;
	font-family: sans-serif;
}

.title{
	text-align: center;
}

section{
	padding: 15px 15px;
}

.sub-title{
	font-size: 18px;
	border-bottom: 1px solid #666666;
	padding: 0 0 5px 0;
}

.info {
	font-weight: bold; 
}